%ul.nav.nav-pills
  %li{role: "presentation"}
    %a{href: '/ui/index'} Yarp!
  %li{role: "presentation"}
    %a{href: "#"} Sign In
  %li{role: "presentation"}
    %a{href: "#"} Register
  %li{role: "presentation"}
    %a{href: "#"} Business List
  %li{role: "presentation"}
    %a{href: "#"} Add a Business
  %li{role: "presentation"}
    %a{href: "#"} Recent Reviews
  %li.dropdown.pull-right
    %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"} 
      John Smith
      %b.caret
    %ul.dropdown-menu{"role" => "menu"}
      %li
        %a{:href => "#link1"} 
          Profile
        %a{:href => "#link2"} 
          Logout

