%section.addbusiness.container
  .row
    .col-sm-10.col-sm-offset-1
      %form
        %header
          %h1 Add a new Business
        %fieldset
          .form-group
            %label Business Name
            .row
              .col-sm-4
                %input.form-control(type="textarea")
        %fieldset.form-group.action
          %input(type="submit" value="Add Business" class="btn btn-default")