%section.review.container
  .row
    .col-sm-10.col-sm-offset-1
      %form
        %header
          %h1 Write a Review for PLACE NAME
        %fieldset
          .form-group
            %label Review
            .row
              .col-sm-4
                %textarea{rows: "20", cols: "70"}
        %fieldset.form-group.action
          %input(type="submit" value="Submit" class="btn btn-default")