%section.reviews.container
  %header
    %h1 Recent Reviews
  %ul
    %li
      %section.review
        %h3 
          %a{href: '#'}Business Name 
          %span on DATE
        %p Review Text
        %ul.nav.nav-pills
          %li{role: "presentation"} <a href="#">Full Review</a>
          %li{role: "presentation"} <a href="#">Reviewer</a>
    %li
      %section.review
        %h3 
          %a{href: '#'}Business Name 
          %span on DATE
        %p Review Text
        %ul.nav.nav-pills
          %li{role: "presentation"} <a href="#">Full Review</a>
          %li{role: "presentation"} <a href="#">Reviewer</a>
    %li
      %section.review
        %h3 
          %a{href: '#'}Business Name 
          %span on DATE
        %p Review Text
        %ul.nav.nav-pills
          %li{role: "presentation"} <a href="#">Full Review</a>
          %li{role: "presentation"} <a href="#">Reviewer</a>